body {
    background-image: url(./assets/bg-seamless.JPG);
    font-family: 'Expletus Sans', cursive;
}

.header{
    margin: 0;
}

.myName {
    font-size: 25px;
}

.aboutBlock{
    margin-top: 20px;
}

.aboutBlock p{
    text-align: center;
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
}
